    <header class="">
        <nav class="navbar navbar-expand-lg fixed-top shadow">
            <div class="container">
                <a class="navbar-brand fs-6" href="{{ path('app_homepage') }}"><img src="{{ asset('assets/images/logo2.png') }}" alt="logo défi DELF" width="120" height="100"><i class="bi bi-house-fill fs-3 text-white"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto ps-md-5">
                        <li class="nav-item"><a href="{{ path('app_admin_course_index') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_admin_course_index') %} text-white border-top border-white {% endif %}">Cours</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a href="{{ path('app_admin_article_index') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_admin_article_index') %} text-white border-top border-white {% endif %}" aria-expanded="false">Articles</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_admin_planning_index') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_admin_planning_index') %} text-white border-top border-white {% endif %}" aria-expanded="false">Planning DELF
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_admin_partner_index') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_admin_partner_index') %} text-white border-top border-white {% endif %}" aria-expanded="false">Partenaires
                                </a>
                            </li>
                            <li class="nav-item"><a href="{{ path('app_admin_user_index') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_admin_user_index') %} text-white border-top border-white {% endif %}">Utilisateurs</a></li>
                        {% endif %}
                    </ul>
                    <div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}" class="nav-link text-white bg-white bg-opacity-75 rounded text-center">Déconnexion</a>
                            {% if is_granted('ROLE_APPRENANT') %}
                                <a href="{{ path('app_courses_index') }}" class="px-1 mt-2 nav-link text-white bg-info bg-opacity-50 rounded text-center">Zone apprenant</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROF') %}
                                <a href="{{ path('app_admin_home') }}" class="px-1 mt-2 nav-link text-white bg-highLighterPink rounded text-center">Zone d'administration</a>
                            {% endif %}
                            <a href="{{ path('app_user_show', {id: app.user.id}) }}" class="mt-2 nav-link text-white bg-greenSea bg-opacity-75 text-center rounded">Mon compte</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>