    <header class="mb-4">
        <nav class="navbar navbar-expand-lg fixed-top shadow">
            <div class="container">
                <a class="navbar-brand fs-6" href="{{ path('app_homepage') }}"><img src="{{ asset('assets/images/logo_navbar.png') }}" alt="logo défi DELF" width="100" height="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('app_presentation') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_presentation') %} text-white border-top border-white {% endif %}" aria-expanded="false">Qui sommes-nous ?</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_actions') }}" class="nav-link  {% if (app.request.attributes.get('_route') == 'app_actions') %} text-white border-top border-white {% endif %}" aria-expanded="false">Nos actions
                            </a>
                        </li>
                        <li class="nav-item"><a href="{{ path('app_displayTraining') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_displayTraining') %} text-white border-top border-white {% endif %}">Entraînement DELF</a></li>
                        <li class="nav-item"><a href="{{ path('app_events') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_events') %} text-white border-top border-white {% endif %}">Evènements</a></li>
                        <li class="nav-item"><a href="{{ path('app_partners') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_partners') %} text-white border-top border-white {% endif %}">Partenaires</a></li>
                        <li class="nav-item"><a href="{{ path('app_contact') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_contact') %} text-white border-top border-white {% endif %}">Contact</a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navabarTogglerButton">
                    <a href="" class="nav-link text-secondary border border-secondary rounded p-1">Accès membre</a>
                </div>
            </div>
        </nav>
    </header>