    <header class="">
        <nav class="navbar navbar-expand-lg fixed-top shadow">
            <div class="container">
                <a class="navbar-brand fs-6" href="{{ path('app_homepage') }}"><img src="{{ asset('assets/images/logo2.png') }}" alt="logo défi DELF" width="120" height="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {% if (app.request.attributes.get('_route') == 'app_presentation') %} text-white border-top border-white {% endif %}" href="{{ path('app_presentation') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Qui sommes-nous ?
                            </a>
                            <ul class="dropdown-menu bg-secondary">
                                <li><a class="dropdown-item text-warning" href="{{ path('app_presentation') }}#projet">Notre projet pédagogique</a></li>
                                <li><a class="dropdown-item text-warning" href="{{ path('app_presentation') }}#parole">Paroles de bénévoles</a></li>
                                <li><a class="dropdown-item text-warning" href="{{ path('app_presentation') }}#presse">La presse parle de nous</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="{{ path('app_actions') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_actions') %} text-white border-top border-white {% endif %}" aria-expanded="false">Nos actions
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="{{ path('app_practice') }}" class="nav-link dropdown-toggle {% if (app.request.attributes.get('_route') == 'app_practice') %} text-white border-top border-white {% endif %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">Entraînement DELF</a>
                            <ul class="dropdown-menu bg-secondary">
                                <li><a href="{{ path('app_practice') }}#presentation" class="dropdown-item text-warning">Présentation</a></li>
                                <li><a href="{{ path('app_practice') }}#inscription" class="dropdown-item text-warning">Inscription</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a href="{{ path('app_news') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_news') %} text-white border-top border-white {% endif %}">Actualités</a></li>
                        <li class="nav-item"><a href="{{ path('app_partners') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_partners') %} text-white border-top border-white {% endif %}">Partenaires</a></li>
                        <li class="nav-item"><a href="{{ path('app_contact') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_contact') %} text-white border-top border-white {% endif %}">Contact</a></li>
                    </ul>
                    <div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}" class="nav-link text-white bg-white bg-opacity-75 rounded text-center">Déconnexion</a>
                            {% if is_granted('ROLE_APPRENANT') %}
                                <a href="{{ path('app_courses_index') }}" class="px-1 mt-2 nav-link text-white bg-info bg-opacity-50 rounded text-center">Zone apprenant</a>
                            {% endif %}
                            {% if is_granted('ROLE_PROF') %}
                                <a href="{{ path('app_admin_home') }}" class="px-1 mt-2 nav-link text-white bg-highLighterPink rounded text-center">Zone d'administration</a>
                            {% endif %}
                            <a href="{{ path('app_user_show', {id: app.user.id}) }}" class="mt-2 nav-link text-white bg-greenSea bg-opacity-75 text-center rounded">Mon compte</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="px-2 nav-link text-white bg-white bg-opacity-75 rounded text-center">Accès membre</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>