    <header class="">
        <nav class="navbar navbar-expand-lg fixed-top shadow">
            <div class="container">
                <a class="navbar-brand fs-6" href="{{ path('app_homepage') }}"><img src="{{ asset('assets/images/logo2.png') }}" alt="logo défi DELF" width="120" height="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a href="{{ path('app_presentation') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_presentation') %} text-white border-top border-white {% endif %}" aria-expanded="false">Qui sommes-nous ?</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_actions') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_actions') %} text-white border-top border-white {% endif %}" aria-expanded="false">Nos actions
                            </a>
                        </li>
                        <li class="nav-item"><a href="{{ path('app_practice') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_practice') %} text-white border-top border-white {% endif %}">Entraînement DELF</a></li>
                        <li class="nav-item"><a href="{{ path('app_events') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_events') %} text-white border-top border-white {% endif %}">Actualités</a></li>
                        <li class="nav-item"><a href="{{ path('app_partners') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_partners') %} text-white border-top border-white {% endif %}">Partenaires</a></li>
                        <li class="nav-item"><a href="{{ path('app_contact') }}" class="nav-link {% if (app.request.attributes.get('_route') == 'app_contact') %} text-white border-top border-white {% endif %}">Contact</a></li>
                    </ul>
                    <div>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_logout') }}" class="nav-link text-info border border-info rounded p-1 text-center">Déconnexion</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="#" class="mt-2 p-1 nav-link text-success border border-warning rounded bg-warning text-center">Zone d'administration</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="nav-link text-info border border-info rounded p-1 text-center">Accès membre</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>