{% extends 'admin/admin_base.html.twig' %}

{% block title %}Liste des sessions DELF{% endblock %}

{% block body %}
    <main>
		<div class="container mt-5 mb-4 pt-5">
			<h1 class="mt-5 pt-5 text-center fw-bold">Liste des sessions DELF</h1>

            <table class="table mt-4">
				<thead>
					<tr>
						<th>DELF A1</th>
						<th>DELF A2</th>
						<th>DELF B1</th>
						<th>DELF B2</th>
						<th>Actions</th>
					</tr>
				</thead>
                <tbody>
					{% for planning in plannings %}
						<tr>
							<td>{{ planning.DelfA1 }}</td>
							<td>{{ planning.DelfA2 }}</td>
							<td>{{ planning.DelfB1 }}</td>
							<td>{{ planning.DelfB2 }}</td>
                            <td>
								<a href="{{ path('app_admin_planning_show', {'id': planning.id}) }}" class="btn btn-primary mb-1">Voir</a>
								<a href="{{ path('app_admin_planning_edit', {'id': planning.id}) }}" class="btn btn-warning mb-1">Modifier</a>
								{{ include('admin/planning/_delete_form.html.twig') }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
