{% extends 'base.html.twig' %}

{% block title %}Evènements{% endblock %}

{% block body %}

    <main>
        <section class="mt-5 py-5">
            <div class="album pb-5">
                <div class="container">
                    <h1 class="mt-5 pt-5 text-center fw-bold mb-4 mb-md-0">La presse parle de nous</h1>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 pt-5 g-3">          

                            <div class="col">
                                <div class="card zoom shadow rounded-4">
                                    <img class="rounded-top-4" src="{{ asset('assets/images/onglet_evenement.jpg') }}" alt="photo de groupe en cours" />
                                    <div class="card-body">
                                        <p class="card-text">60 migrants s’entrainent pour passer le diplôme d’études en langues françaises, "la loi sur l’immigration met la pression sur le niveau de français"</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-body-secondary">France Info</small>
                                            <p><a href="https://france3-regions.francetvinfo.fr/grand-est/aube/troyes/60-migrants-s-entrainent-pour-passer-le-diplome-d-etudes-en-langues-francaises-la-loi-sur-l-immigration-met-la-pression-sur-le-niveau-de-francais-2907773.html">Lire la suite >></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card zoom shadow rounded-4">
                                    <img class="rounded-top-4" src="{{ asset('assets/images/vue_ensemble.jpg') }}" alt="photo journal" />
                                    <div class="card-body">
                                        <p class="card-text">Ils se préparent à passer leur diplôme en langue française</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-body-secondary">L'Est Eclair</small>
                                            <p><a class="link-underline-primary" data-bs-toggle="modal" data-bs-target="#modalPresse" type="button">Lire la suite >></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {# MODAL #}
                            <div class="modal fade" tabindex="-1" id="modalPresse" aria-labelledby="modalPresseLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
                                        <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title d-block ms-auto" id="modalPresseLabel">L'association</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="{{ asset('assets/images/journal_15-10-2023.jpg') }}" alt="article journal">
                                                </div>
                                        </div>
                                    </div>
                            </div>

                            {# <div class="col">
                                <div class="card zoom shadow rounded-4">
                                    <img class="rounded-top-4" src="{{ asset('assets/images/vue_ensemble.jpg') }}" alt="photo journal" />
                                    <div class="card-body">
                                        <p class="card-text">Ils se préparent à passer leur diplôme en langue française</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-body-secondary">L'Est Eclair</small>
                                            <p><a href="{{ asset('assets/images/journal_15-10-2023.jpg') }}">Lire la suite >></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div> #}
                    
                        </div>
                </div>
            </div>
        </section>
    </main>

{# <main>
    <section class="mt-5 pt-5 container">
        <div class="mt-5 pt-5">
            <h1 class="pt-4 fw-bold text-center">La presse parle de nous</h1>
            <div class="row mt-4 pt-5 gy-4 align-items-center">
                <div class="col-12 pb-5">
                    <h3>France info</h3>
                    <p><a href="https://france3-regions.francetvinfo.fr/grand-est/aube/troyes/60-migrants-s-entrainent-pour-passer-le-diplome-d-etudes-en-langues-francaises-la-loi-sur-l-immigration-met-la-pression-sur-le-niveau-de-francais-2907773.html">60 migrants s’entrainent pour passer le diplôme d’études en langues françaises, "la loi sur l’immigration met la pression sur le niveau de français"</a></p>
                    <h3 class="pt-5">L'Est éclair</h3>
                    <img src="{{ asset('assets/images/journal_15-10-2023.jpg') }}" width="95%" alt="">
                </div>
            </div>
            </div>
        </section>

</main> #}

{% endblock %}
