{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

    <main>
        <div class="container">
            <section class="mt-5 py-5">
                <h1 class="mt-5 pt-5 text-center fw-bold mb-4 mb-md-0">Présentation - Projet pédagogique</h1>
                <div class="row mt-3 pt-5 gy-4 align-items-center px-2 px-md-0">
                    <div class="col-12 col-md-6 text-center border border-warning rounded p-3 shadow-lg offset-md-1 zoom">
                        <a data-bs-toggle="modal" data-bs-target="#modalNew" type="button">
                            <h5 class="text-warning">Défi-Delf, une nouvelle association insérée dans le paysage aubois</h5>
                            <i class="bi bi-arrow-right-circle fs-3 text-warning"></i>
                        </a>
                    </div>

                    {# MODAL #}
                    <div class="modal fade" tabindex="-1" id="modalNew" aria-labelledby="modalNewLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title d-block ms-auto" id="modalNewLabel">L'association</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                        Fondée en janvier 2023, notre association à but non lucratif est le fruit de l'engagement d’une équipe de bénévoles, aux profils et expériences variés : salariés en activité, anciens éducateurs, assistants sociaux, responsables associatifs ou enseignants à la retraite, étudiants de l’Inspé. Elle s’adresse à des adultes étrangers allophones.
                                        </p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </div>
                <div class="row mt-5 align-items-center px-2 px-md-0">
                    <div class="col-12 col-md-6"></div>
                    <div class="col-12 col-md-6 text-center text-center border border-primary rounded p-3 shadow-lg offset-md-5 zoom">
                        <a data-bs-toggle="modal" data-bs-target="#modalCourses" type="button">
                            <h5 class="text-primary">Cours en soirée pour des adultes étrangers très motivés</h5>
                            <i class="bi bi-arrow-right-circle fs-3 text-primary"></i>
                        </a>
                    </div>

                    {# MODAL #}
                    <div class="modal fade" tabindex="-1" id="modalCourses" aria-labelledby="modalCoursesLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title d-block ms-auto" id="modalCoursesLabel">Les cours</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                        Notre mission principale, basée sur le volontariat des « apprenants » étrangers, est de favoriser l'insertion sociale, professionnelle et culturelle par l'apprentissage de la langue française, à la fois orale et écrite. Grâce au partenariat avec l’institut national supérieur du professorat et de l'éducation (Inspé), nos cours sont proposés, en début de soirée, trois fois par semaine, pour s’adapter aux salariés et à ceux qui ont des emplois du temps chargés.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="row mt-5 align-items-center px-2 px-md-0">
                    <div class="col-12 col-md-6 text-center text-center border border-success rounded p-3 shadow-lg offset-md-1 zoom"
                        <a data-bs-toggle="modal" data-bs-target="#modalPeda" type="button">
                            <h5 class="text-success">Une pédagogie active</h5>
                            <i class="bi bi-arrow-right-circle fs-3 text-success"></i>
                        </a>
                    </div>

                    {# MODAL #}
                        <div class="modal fade" tabindex="-1" id="modalPeda" aria-labelledby="modalPedaLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title d-block ms-auto" id="modalPedaLabel">Notre pédagogie</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                            Nous nous efforçons de fournir une formation de qualité, axée sur la participation active et l'interaction entre les apprenants. Pour ce faire, nous utilisons des méthodes pédagogiques actives, favorisant ainsi un apprentissage dynamique et stimulant.
                                            Les visites organisées ou l’analyse de documents authentiques permettent une immersion culturelle et renforce ainsi la compréhension de la société française et de ses valeurs.
                                            De plus, nous intégrons l'utilisation d'outils informatiques afin de maximiser l'efficacité de notre enseignement.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>

                </div>
                <div class="row mt-5 align-items-center px-2 px-md-0">
                    <div class="col-12 col-md-6"></div>
                    <div class="col-12 col-md-6 text-center text-center border border-danger rounded p-3 shadow-lg offset-md-5 zoom">
                        <a data-bs-toggle="modal" data-bs-target="#modalEval" type="button">
                            <h5 class="text-danger">Des évaluations fiables et reconnues</h5>
                            <i class="bi bi-arrow-right-circle fs-3 text-danger"></i>
                        </a>
                    </div>

                    {# MODAL #}
                        <div class="modal fade" tabindex="-1" id="modalEval" aria-labelledby="modalEvalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title d-block ms-auto" id="modalEvalLabel">L'évaluation</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                            Nous proposons également une préparation spécifique pour les apprenants souhaitant passer l'examen du DELF (Diplôme d'Études en Langue Française).
                                            Grâce à notre partenariat avec le Centre International d'Etudes Françaises (CIEF) de l'Université, nous sommes reconnus par France Éducation International (FEI) comme leur centre d'entraînement au DELF pour le département de l'Aube.
                                            France Éducation International (FEI) propose des sujets blancs du DELF et corrige les travaux suivant leurs critères officiels.
                                            Les résultats de ces tests fournis par FEI, permettent aux apprenants d'obtenir une évaluation externe et de qualité, offrant une validation tangible de leur progression et des progrès attendus.
                                            Ils permettent d’avoir une évaluation objective assurée par un organisme agréé et de mettre en place des modules de formation adaptés.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                       
                </div>
            </section>

            <section class="py-5">
                <h1 class="text-center fw-bold mb-3">Paroles de bénévoles</h1>
                <div class="row pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6">
                        <img src="{{ asset ('assets/images/georges.jpg') }}" class="d-block mx-auto border border-success border-4 border-opacity-50 rounded-4 shadow-lg" width="350" height="300" alt="photo de Georges" >
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="justify">"Être bénévole dans l'association Défi DELF, c'est transmettre la langue française à des personnes motivées, désireuses d'apprendre. C'est leur donner une clé précieuse pour vivre ensemble. Pour celui qui enseigne, c'est aussi redécouvrir sa langue maternelle, observer son fonctionnement d'un œil nouveau."</p>
                        <p><em class="fw-bold fs-italic text-info">Georges Attali</em> <span class="text-info">(formateur bénévole)</span></p>
                    </div>
                </div>
                <div class="row pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6 order-2 order-md-0">
                        <p class="justify">"L’équipe est formidable, j'en suis très contente. Je ne regrette pas d'avoir un jour rempli un formulaire pour devenir bénévole.
                        Donner de mon temps, et constater en retour que les apprenants apprécient, c'est une grande récompense. Les cours durent une heure et demie, mais nous ne voyons pas le temps passer, tant il est intéressant d'échanger, d'écouter, d'enseigner, de rire, de partager autour d'une chose en commun : la langue française."</p>
                        <p><em class="fw-bold fs-italic text-info">Maryline Lorne</em> <span class="text-info">(formatrice bénévole)</span></p>
                    </div>
                    <div class="col-12 col-md-6 order-1">
                        <img src="{{ asset ('assets/images/maryline.png') }}" class="d-block mx-auto border border-success border-4 border-opacity-50 rounded-4 shadow-lg" width="300" height="350" alt="photo de Maryline" >
                    </div>
                </div>
                <div class="row pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6">
                        <img src="{{ asset ('assets/images/philippe.jpg') }}" class="d-block mx-auto border border-success border-4 border-opacity-50 rounded-4 shadow-lg" width="350" height="300" alt="photo de Philippe" >
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="justify">"Notre équipe de formateurs est formée d’une dizaine de bénévoles, issus de divers horizons professionnels et culturels, nous avons su créer des liens authentiques entre nous et avec nos apprenants. C’est une grande richesse de pouvoir travailler en équipe.
                        En complément de l'apprentissage du français, nos cours sont structurés pour couvrir chaque compétence évaluée dans l'examen du DELF (Diplôme d'Études en Langue Française): compréhensions orale et écrite, et productions orale et écrite.
                        N'hésitez pas à prendre contact, vous y ferez de belles rencontres."</p>
                        <p><em class="fw-bold fs-italic text-info">Philippe Deblock</em> <span class="text-info">(formateur bénévole et président)</span></p>
                    </div>
                </div>
                <div class="row pt-5 gy-4 align-items-center">
                    <div class="col-12 col-md-6 order-2 order-md-0">
                        <p class="justify">"Quel bonheur d’accueillir ces femmes et ces hommes de culture et de langues différentes. Ils veulent apprendre notre langue pour mieux s’intégrer et/ou travailler dans notre pays.
                        Ils arrivent dans nos ateliers d’apprentissage du français, parfois après une journée de travail avec le sourire et l’énergie nécessaire pour affronter les difficultés de l’apprentissage du français. Ils «s’accrochent» et quelle joie de les voir progresser ! 
                        Quelle belle leçon de vie ils nous donnent !"</p>
                        <p><em class="fw-bold fs-italic text-info">Marie-Françoise Lentini</em> <span class="text-info">(formatrice bénévole)</span></p>
                    </div>
                    <div class="col-12 col-md-6 order-1">
                        <img src="{{ asset ('assets/images/marie_françoise.jpg') }}" class="d-block mx-auto border border-success border-4 border-opacity-50 rounded-4 shadow-lg" width="350" height="300" alt="photo de Marie-Françoise" >
                    </div>
                </div>
            </section>

            <section class="py-5">
                <div class="album pb-5">
                    <div class="container">
                        <h1 class="text-center fw-bold mb-4 mb-md-0">La presse parle de nous</h1>
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 pt-5 g-3">          

                                <div class="col">
                                    <div class="card zoom shadow rounded-4 h-100">
                                        <img class="rounded-top-4" src="{{ asset('assets/images/onglet_evenement.jpg') }}" alt="photo de groupe en cours" />
                                        <div class="card-body">
                                            <p class="card-text">60 migrants s’entrainent pour passer le diplôme d’études en langues françaises, "la loi sur l’immigration met la pression sur le niveau de français"</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-body-secondary">France Info</small>
                                                <p><a href="https://france3-regions.francetvinfo.fr/grand-est/aube/troyes/60-migrants-s-entrainent-pour-passer-le-diplome-d-etudes-en-langues-francaises-la-loi-sur-l-immigration-met-la-pression-sur-le-niveau-de-francais-2907773.html" target="_blank">Lire la suite >></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card zoom shadow rounded-4 h-100">
                                        <img class="rounded-top-4" src="{{ asset('assets/images/vue_ensemble.jpg') }}" alt="photo journal" />
                                        <div class="card-body">
                                            <p class="card-text">Ils se préparent à passer leur diplôme en langue française</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <small class="text-body-secondary">L'Est Eclair</small>
                                                <p><a href="{{ asset('assets/images/journal_15-10-2023.jpg')}}" class="link-underline-primary">Lire la suite >></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                <div class="card zoom shadow rounded-4 h-100">
                                    <img class="rounded-top-4" src="{{ asset('assets/images/remise.jpg') }}" alt="photo journal" />
                                    <div class="card-body">
                                        <p class="card-text">Venus de 11 pays avec la même soif d'apprendre</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-body-secondary">10 juillet 2023</small>
                                            <p><a href="{{ asset('assets/images/presse_10_07_2023.jpg')}}" class="link-underline-primary">Lire la suite >></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}
