{% extends 'base.html.twig' %}

{% block title %}Session DELF{% endblock %}

{% block body %}

    <main>
        <section class="mt-5 pt-5 container">
            <div class="mt-5 pt-5">
                <h1 class="pt-4 fw-bold text-center">Sessions d'entraînement au DELF</h1>
                <div class="row pt-5 mb-2">
                    <div class="col-12 col-md-8">
                            <p>L'association Défi-Delf propose une <em class="fw-bold text-warning">préparation spécifique</em> pour les apprenants souhaitant passer l'examen du <em class="fw-bold text-warning">DELF</em> (Diplôme d'Etudes en Langue Française), du niveau A1 au niveau B2. <br>
                            Grâce à notre partenariat avec le <em class="fw-bold text-warning">Centre International d'Etudes Françaises</em> (CIEF) de l'université, nous sommes reconnus par <em class="fw-bold text-warning">France Education International</em> (FEI) comme leur centre d'entraînement au DELF pour le département de l'Aube. <br>
                            Vous serez évalué sur les <em class="fw-bold text-warning">deux compétences</em>, compréhension orale et compréhension écrite du DELF du niveau choisi.
                            </p>
                            <p>Pour les candidats, les <span class="text-warning">avantages</span> sont nombreux :</p>
                            <div class="text-center offset-md-1">
                                <p class="text-start"> <i class="bi bi-check text-success"></i> C'est un excellent moyen de <span class="text-primary">découvrir</span> les conditions de passation d'un examen officiel</p>
                                <p class="text-start"> <i class="bi bi-check text-success"></i> Une façon efficace de <span class="text-primary">diminuer sa nervosité</span> le jour des épreuves officielles</p>
                                <p class="text-start"> <i class="bi bi-check text-success"></i> <span class="text-primary">Vérifier</span> son niveau et s'inscrire ainsi à l'examen qui correspond le mieux à ses compétences</p>
                                <p class="text-start"> <i class="bi bi-check text-success"></i> Travailler la <span class="text-primary">gestion</span> de son temps et apprendre à améliorer sa <span class="text-primary">concentration</span></p>
                            </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <img class="d-block mx-auto" src="{{ asset('assets/images/logo_fei.jpg') }}" alt="Logo France Education International" height="400" width="400">
                    </div>
                    </div>
                </div>
                <p>Ce dispositif est ouvert aux <span class="text-warning">volontaires</span>, adhérents de l'association, mais aussi venant de toutes les <span class="text-warning">autres associations</span>.
                Des relations étroites existent avec l'<em class="fw-bold text-warning">ADDPS-Yschools</em>, qui est le centre départemental de passation du DELF pour le département de l'Aube.</p>
                <p>Les sessions d'entraînement se déroulent <span class="text-warning">en soirée</span> au centre de formation de l'association défi-Delf, située à l'INSPE, 6 avenue des Lombards TROYES (en face de l'hôpital).</p>
                <p><span class="fw-bold text-success">Sujets : </span>France Education International envoie les sujets confidentiels à Défi-Delf qui organise la passation des tests.</p>
                <p><span class="fw-bold text-success">Corrections : </span>France Education International prend entièrement en charge les corrections.</p>
                <p><span class="fw-bold text-success">Résultats : </span>France Education International envoie les résulatats à Défi-Delf sous 10 jours maximum. Ces résultats seront transmis directement aux candidats par courriel.</p>
                <p class="text-success"><span class="fw-bold">Inscriptions : 10€ </span>par session d'entraînement (à régler sur place)</p>
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                <div class="pt-4 gy-4 align-items-center">
                    <h1 class="text-center fw-bold text-uppercase">Paroles d'apprenant</h1>
                </div>
                   
                <div class="row pt-5">
                    <div class="col-12 col-md-6 offset-md-1 d-md-flex flex-row">
                        <div>
                            <img src="{{ asset('assets/images/temoignage_mercy.jpg') }}" class="d-block mx-auto border rounded-circle" height="90" width="90" alt="photo de Mercy">
                        </div>
                        <div class="pt-3 ps-md-3 fst-italic">
                            <p>"Grâce à l'entraînement, j'ai davantage confiance en moi et je me sens moins stressée. C'est important de savoir s'organiser."</p>
                            <p class="text-info"><span class="fw-bold">Mercy</span> (Cameroun)</p>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12 col-md-6">
                    </div>
                    <div class="col-12 col-md-6 offset-md-5 d-md-flex flex-row">
                        <div>
                            <img src="{{ asset('assets/images/temoignage_abdulhamid.jpg') }}" class="d-block mx-auto d-md-inline border rounded-circle" height="90" width="90" alt="photo de Amina">
                        </div>
                        <div class="pt-3 ps-md-3 fst-italic">
                            <p>"Les épreuves d'entraînement m'ont permis aussi d'être en conditions réelles d'examen. Mes résultats à la préparation me donnent confiance pour le DELF."</p>
                            <p class="text-info"><span class="fw-bold">Abdulhamid</span> (Afghanistan)</p>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12 col-md-6 offset-md-1 d-md-flex flex-row">
                        <div>
                            <img src="{{ asset('assets/images/temoignage_abdel.jpg') }}" class="d-block mx-auto border rounded-circle" height="90" width="90" alt="photo de Abdulhamid">
                        </div>
                        <div class="pt-3 ps-md-3 fst-italic">
                            <p>"J'ai passé la compréhension orale et écrite en janvier 2024 et j'ai trouvé les épreuves de niveau B1 difficiles. Je me rends compte que je dois encore beaucoup travailler.
                            Merci à Défi-Delf de nous proposer ces préparations."</p>
                            <p class="text-info"><span class="fw-bold">Abdel</span> (Maroc)</p>
                        </div>
                    </div>
                </div>
                <div class="row pt-5">
                    <div class="col-12 col-md-6">
                    </div>
                    <div class="col-12 col-md-6 offset-md-5 d-md-flex flex-row">
                        <div>
                            <img src="{{ asset('assets/images/vue_ensemble.jpg') }}" class="d-block mx-auto d-md-inline border rounded-circle" height="90" width="90" alt="photo de Amina">
                        </div>
                        <div class="pt-3 ps-md-3 fst-italic">
                            <p>"C'est important de bien se préparer, avant le grand jour, pour être moins nerveux."</p>
                            <p class="text-info"><span class="fw-bold">Ganimete</span> (Kosovo)</p>
                        </div>
                    </div>
                </div>
        
            </div>
        </section>
        <div class="container">
            <div class="row pt-3 pb-5 align-items-center">
                <div class="col-12 col-md-5">
                    <h1 class="fw-bold text-uppercase text-center text-success">Inscription aux séances d'entraînement</h1>
                    <p class="mt-4 text-center">Pour participer aux sessions d'entraînement du DELF, merci de bien vouloir remplir ce formulaire.
                        <br>Nous reviendrons vers vous pour confirmation.
                    </p>
                </div>

                {# FORMULAIRE D'INSCRIPTION #}
                <div class="col-12 col-md-6 offset-md-1">
                    <form action="" class="row gy-4">
                        <div class="col-6">
                            <label for="firstname" class="form-label">Prénom</label>
                            <input type="text" class="form-control" name="firstname" id="firstname">
                        </div>
                        <div class="col-6">
                            <label for="lastname" class="form-label">Nom</label>
                            <input type="text" class="form-control" name="lastname" id="lastname">
                        </div>
                        <div class="col-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" name="email" id="email">
                        </div>
                        <div class="col-6">
                            <label for="telephone" class="form-label">Téléphone</label>
                            <input type="text" class="form-control" name="telephone" id="telephone">
                        </div>
                        <div class="col-12">
                            <label for="nationalite" class="form-label">Nationalité</label>
                            <input type="text" class="form-control" name="nationalite" id="nationalite">
                        </div>
                        <div class="col-12">
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" name="adresse" id="adresse">
                        </div>
                        <div class="col-12">
                            <label for="infos" class="form-label">Informations complémentaires sur l'adresse</label>
                            <input type="text" class="form-control" name="infos" id="infos">
                        </div>
                        <div class="col-6">
                            <label for="code" class="form-label">Code postal</label>
                            <input type="text" class="form-control" name="code" id="code">
                        </div>
                        <div class="col-6">
                            <label for="ville" class="form-label">Ville</label>
                            <input type="text" class="form-control" name="ville" id="ville">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100">Envoyer</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </main>

{% endblock %}
