{% extends 'base.html.twig' %}

{% block title %}Nous contacter
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5 pt-5">

			<div class="mt-4 pt-4">
				{{ include('_partials/_flash_messages.html.twig') }}
			</div>

			<h1 class="fw-bold text-center mt-4 pt-4">Nous contacter</h1>
			<p class="pt-4 text-center">Vous n'avez pas trouvé la réponse à votre question ? Contactez nous, nous vous répondrons dans les meilleurs délais.</p>
			{{ form_start(form) }}
				<div class="row gy-md-2 my-4 w-50 mx-auto">
					<div class="col-12 col-lg-6">
						{{ form_row(form.lastname) }}
					</div>
					<div class="col-12 col-lg-6">
						{{ form_row(form.firstname) }}
					</div>
					<div class="col-12">
						{{ form_row(form.email) }}
					</div>
					<div class="col-12">
						{{ form_row(form.message) }}
					</div>
				</div>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
