{% extends 'admin/admin_base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-5 mb-4 pt-5">

			<div class="mt-4 pt-4 text-center">
				{{ include ('_partials/_flash_messages.html.twig')}}
			</div>
			
			<h1 class="mt-4 pt-4 text-center fw-bold">Liste des articles</h1>
			<a href="{{ path('app_admin_article_new') }}" class="btn btn-success">Nouvel article</a>
			<table class="table mt-4">
				<thead>
					<tr>
						<th>Image</th>
						<th>Titre</th>
						<th>Contenu</th>
						<th>Catégorie</th>
						<th>Créé le</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles | reverse %}
						<tr>
							<td><img src="{{ vich_uploader_asset(article, 'thumbnailFile') }}" width="150" alt="photo article"></td>
							<td>{{ article.title }}</td>
							<td>{{ article.content | raw}}</td>
							{% if article.press %}
								<td>Presse</td>
							{% elseif article.action %}
								<td>Action</td>
							{% else %}
								<td>Actualités</td>
							{% endif %}
							<td>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</td>
							<td>
								<a href="{{ path('app_admin_article_show', {'id': article.id}) }}" class="btn btn-primary mb-1">Voir</a>
								<a href="{{ path('app_admin_article_edit', {'id': article.id}) }}" class="btn btn-warning">Modifier</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7">Aucun enregistrement trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{ path('app_admin_article_new') }}" class="btn btn-success">Nouvel article</a>
		</div>
	</main>
{% endblock %}
