{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}
<main>
    <div class="container my-5 pt-5">

        <div class="mt-4 pt-4 text-center">
			{{ include ('_partials/_flash_messages.html.twig')}}
		</div>

        <h1 class="my-4 pt-4 fw-bold text-center">Liste des cours</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Fichier</th>
                    <th>Description</th>
                    <th>Catégorie</th>
                    <th>Créé le</th>
                    <th>Mise à jour le</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.name }}</td>
                    <td>{{ course.file }}</td>
                    <td>{{ course.description }}</td>
                    <td> {{ course.category.name | default('') }} </td>
                    <td>{{ course.createdAt ? course.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ course.updatedAt ? course.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_admin_course_show', {'id': course.id}) }}" class="btn btn-primary mb-1">Voir</a>
                        <a href="{{ path('app_admin_course_edit', {'id': course.id}) }}" class="btn btn-warning">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_admin_course_new') }}" class="btn btn-success">Ajouter un cours</a>
    </div>
</main>
{% endblock %}
