{% extends 'front/display/courses/courses_base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<main>
    <div class="container mt-5 pt-5">

        <div class="mt-4 pt-4 text-center">
			{{ include ('_partials/_flash_messages.html.twig')}}
		</div>

        <h1 class="my-4 pt-4 fw-bold text-center">Mon compte</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ user.phoneNumber }}</td>
                </tr>
                <tr>
                    <th>WhatsApp</th>
                    <td>{{ user.whatsApp }}</td>
                </tr>
                <tr>
                    <th>Nationalité</th>
                    <td>{{ user.nationality }}</td>
                </tr>
                <tr>
                    <th>Profession</th>
                    <td>{{ user.job }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_courses_index') }}" class="btn btn-warning mb-1">Retour</a>

        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary mb-1">Modifier</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
</main>
{% endblock %}
